*{
    box-sizing:border-box;
}

body{
    background:#1F2937;

}
.header,
.footer{
    background:#1F2937;
    height:20vh;
    width:99vw;
}

.header{
    display:flex;
    flex-flow:row nowrap;
    margin-top:24px;
    
    gap:40px;
}



.headerlogo{
    font-size:24px;
    color:#F9FAF8;
    margin-right:auto;
    font-weight:bolder;
    margin-left:350px;
}


.main{
    height:20vh;
    width:99vw;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.maintitle{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.maintitle,
.mainsubtitle{
    flex-grow:1 1 400px;
    width:400px;
}

.mainsubtitle{
    margin-right:70px;
}

.mainimages>img{
    width:320px;
    height:auto;
}

.headerlink,
.mainsubtitle{
    font-size:18px;
    color:#E5E7EB;
}

.headerlink.last{
    margin-right:350px;
}
