*{
    box-sizing:border-box;
    font-family:"Rubik",'Segoe UI', Tahoma, Verdana, sans-serif;
}

@font-face{
    font-family:"Rubik";
    src: url("./fonts/Rubik-Italic-VariableFont_wght.ttf");
    src:url("./fonts/Rubik-VariableFont_wght.ttf");
}
body{
    background:#1F2937;

}
.header,
.footer{
    background:#1F2937;
    height:20vh;
    width:99vw;
}

.header{
    display:flex;
    flex-flow:row nowrap;
    margin-top:24px;
    
    gap:40px;
}

.headerlogo{
    font-size:24px;
    color:#F9FAF8;
    margin-right:auto;
    font-weight:bolder;
    margin-left:470px;
}

.headerlink,
.mainsubtitle{
    font-size:18px;
    color:#E5E7EB;
}

.headerlink.last{
    margin-right:450px;
}


.main{
    height:30vh;
    width:99vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-50px;
    
}

.maintitle{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.maintext{
    margin-left:-100px;

}

.maintitle,
.mainsubtitle{
    flex-grow:1 1 400px;
    width:400px;
}

.mainsubtitle{
    margin-right:70px;
}

.mainimages>img{
    width:320px;
    height:auto;
}

.mainsubtitle+button{
    margin-top:14px;

    font-weight:bold;
   background:#3882F6;
   color:#fff;
   padding-left:40px;
   padding-right:40px;
   padding-top:8px;
   padding-bottom:8px;
   border:#3882F6;
   border-style:solid;
   border-width:2px;
   border-radius:10px;
}

.randombg{
    height:50vh;
    width:99vw;
    background:#fff;
    margin-top:80px;
}

.random{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
}

.randominfo{
    margin-top:50px;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
}

.randomimages{
    display:flex;
    flex-flow: row wrap;
    margin-top:40px;
    gap:44px;
    align-items:center;

}
img{
    height:auto;
    width:200px;
}


.randomcontent{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
    gap:105px;
}

.subtext{
    max-width:140px;
    text-align:center;
}

.inspiringcontainer{
height:45vh;
width:99vw;
background:#E5E7EB;
display:flex;
flex-flow:column wrap;
justify-content:center;
align-items:center;
}

.quote{
    max-width:750px;
    font-size:36px;
    font-weight:light;
    font-style:italic;
    color:#1F2937;
}
.quotesubtext{
align-self:center;
margin-top:10px;
margin-left:530px;
font-weight:bold;
font-size:20px;
}

.adbackground{
    height:40vh;
    width:100vw;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}


.ad{
    margin-left:80px;
    background:#3882F6;
    height:80px;
    width:900px;
    padding:60px;
    border-radius:30px;
    font-size:18px;
    color:#F9FAF8;

    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}


li{
   margin-right:250px;
   list-style:none;
    
    
}
.ad+button{
   position:relative;
   right:200px;
   font-weight:bold;
   background:#3882F6;
   color:#fff;
   padding:10px;
   border:#fff;
   border-style:solid;
   border-width:2px;
   border-radius:10px;


}

.footer{
    height:10vh;
    width:99vw;
   margin-top:50px;
    
}

.footercontent{
    
    color:white;
    font-weight:300;
    display:flex;
    align-items:center;
    justify-content:center;
}

.footercontent.last{
    margin-top:-50px;;
    margin-left:40px;
}