*{
    box-sizing:border-box;
}

body{
    background:#1F2937;

}
.header,
.footer{
    background:#1F2937;
    height:20vh;
    width:99vw;
}

.header{
    display:flex;
    flex-flow:row nowrap;
    margin-top:24px;
    
    gap:40px;
}

.headerlogo{
    font-size:24px;
    color:#F9FAF8;
    margin-right:auto;
    font-weight:bolder;
    margin-left:470px;
}

.headerlink,
.mainsubtitle{
    font-size:18px;
    color:#E5E7EB;
}

.headerlink.last{
    margin-right:450px;
}


.main{
    height:30vh;
    width:99vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-100px;
    
}

.maintitle{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.maintext{
    margin-left:-160px;

}

.maintitle,
.mainsubtitle{
    flex-grow:1 1 400px;
    width:400px;
}

.mainsubtitle{
    margin-right:70px;
}

.mainimages>img{
    width:320px;
    height:auto;
}

button{
    margin-top:14px;
}

.randombg{
    height:52vh;
    width:99vw;
    background:#fff;
    margin-top:80px;
}

.random{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
}

.randominfo{
    margin-top:50px;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
}

.randomimages{
    display:flex;
    flex-flow: row wrap;
    margin-top:40px;
    gap:44px;
    align-items:center;

}
img{
    height:auto;
    width:200px;
}


.randomcontent{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
    gap:105px;
}

.subtext{
    max-width:140px;
    text-align:center;
}

.inspiringcontainer{
height:45vh;
width:99vw;
background:#E5E7EB;
display:flex;
flex-flow:column wrap;
justify-content:center;
align-items:center;
}

.quote{
    max-width:750px;
    font-size:36px;
    font-weight:light;
    font-style:italic;
    color:#1F2937;
}
.quotesubtext{
align-self:center;
margin-left:530px;
font-weight:bold;
font-size:20px;
}
